body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #ff9900;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section {
  margin: 20px;
  max-width: 300px;
}

section h2 {
  text-align: center;
  margin-bottom: 10px;
}

section img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #ccc;
}

section ul {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  text-align: center;
}

section li {
  margin-bottom: 5px;
}

section strong {
  font-weight: bold;
}
